{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <div class="dashboard-container">
    	<div class="radius-shadow-window"> 
    		{% if page == 'favorites' %}
    			{% include 'dashboard/dashboard_favorites.html'%}
    		{% endif %}
    		{% if page == 'searches' %}
    			{% include 'dashboard/dashboard_searches.html'%}
    		{% endif %}
    		{% if page == 'destinations' %}
    			{% include 'dashboard/dashboard_destinations.html'%}
    		{% endif %}
    		{% if page == 'settings' %}
    			{% include 'dashboard/dashboard_settings.html'%}
    		{% endif %}
    	</div>
    </div>
</div>
{% endblock %}