// -------------------------------------------------------------------------
//-------
//-------		COMPONENTS - SCSS - Specific UI components (majority of work goes here)
//-------						  - UI compenents are often composed of object + component css
//-------
//-------		-
//-------
//----------------------------------------------------------------------------

// ===========================================================
// ==== TOP BAR

.top-bar {
	height: 50px;
	margin: 20px auto;
	padding: 0 10px;

	@include over-900 {
		width: 900px;
	}

	@include over-1200 {
		width: 1200px;
	}

	div {
		vertical-align: middle;
	}
}

	.logo {
		display: inline-block;
		margin-right: 20px;
		width: 50px;

		img {
			width: 50px;
		}
	}

	.search {
		display: inline-block;
		height: 100%;
		position: relative;
		width: calc(100% - 169px);

		@include over-600 {
			width: calc(100% - 449px);
		}

		input {
			border: 1px solid $silver;
			display: block;
			height: 30px;
			margin: 8px auto 0;
			padding: 0 10px;
			vertical-align: middle;
			width: calc(100% - 28px);

			&::placeholder {
				color: $silver;
			}
		}
	}

	.button-menu {
		background: $menu-button-mobile;
		border-radius: 6px;
		color: $white;
		display: inline-block;
		float: right;
		font-size: 1.1rem;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
		margin-left: 20px;
		margin-top: 5px;
		padding: 0;
		vertical-align: middle;
		width: 70px;

		@include over-600 {
			display: none;
		}

		&:hover {
			background: $menu-button-mobile-active;
		}
	}

	.menu {
		background: $white;
		display: none;
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 75px;
		z-index: 9999;

		@include under-600 {
			border-top: 1px solid $silver;
		}

		@include over-600 {
			display: inline-block;
			left: auto;
			padding: 0;
			position: relative;
			right: auto;
			top: auto;
			width: 370px;
		}

		ul {
			box-shadow: 0 12px 20px rgba($black, .8);
			margin: 0;
			padding: 0;

			@include over-600 {
				box-shadow: none;
			}

			li {
				border-bottom: 1px solid $silver;
				list-style: none;
				padding: 6px 15px;

				@include over-600 {
					border-bottom: 0;
					display: inline-block;
					padding: 0 0 0 20px;
				}
			}
		}

		a {
			color: $menu-links-desktop;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.menu-dashboard-drop-btn a:hover {
		text-decoration: none;
	}

	.menu-dashboard-drop-btn:hover .dropdown-content-menu {
		display: block;
	}

	.dropdown-content-menu {
		background: $white;
		border-radius: 6px;
		font-size: .9em;
		margin-top: 0;
		padding: 0;

		ul {
			padding: 4px 0;

			li {
				display: block;
				padding: 0;
			}
		}

		a {
			color: $tundora;
			display: block;
			padding: 4px 10px;

			&:hover {
				background: $red-violet;
				color: $white;
				cursor: pointer;
				text-decoration: none;
			}
		}

	}

// ===========================================================
// ==== Filter bar

.sortfilter-bar {
	margin: 0 auto;
	padding: 10px;

	@include over-900 {
		width: 900px;
	}

	@include over-1200 {
		width: 1200px;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
	}
}

	.sortfilter-bar--currency {
		display: inline-block;

		select {
			appearance: none;
			font-size: .9em;
			padding-left: 12px;
			padding-right: 0;
			width: 65px;
			margin-top: -1px;
			height: 38px;
		}
	}

	.sortfilter-bar--sortby {
		display: inline-block;
		width: 131px;

		select {
			appearance: none;
			background: $orange;
			border: 0;
			border-radius: 3px 0 0 3px;
			font-weight: $bold;
			height: 100%;
			padding-left: 15px;
			width: 100px;
			height: 38px;
		}
	}

	.sortfilter-bar--asc-desc {
		background: $orange-active;
		border-radius: 0 3px 3px 0;
		color: $black;
		display: inline-block;
		line-height: 38px;
		margin-left: -5px;
		margin-top: -2px;
		padding: 0 10px;
		text-decoration: none;
		vertical-align: middle;
	}

	.sortfilter-bar--filters {
		span {
			line-height: 40px;
		}
	}

	.button-filter {
		background: $orange;
		border: 0;
		border-radius: 3px;
		color: $black;
		font-weight: $bold;
		padding: 8px 12px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: $orange-active;
			cursor: pointer;
		}
	}

		.active {
			background: $orange-active;
		}




// ===========================================================
// ==== Filter container

.mobile-filters-container {
	border: 3px solid $orange;
	border-radius: 3px;
	display: none;
	margin: 0 10px 10px;
	padding: 5px 10px;

	h4 {
		margin: 15px 0 5px;
	}

	h5 {
		font-size: .9em;
		margin: 10px 0 5px;
	}

	ul {
		margin: 0;
		padding: 5px 10px;
	}

	li {
		list-style: none;
	}

	label {
		color: $grey;
		padding-left: 10px;
	}

	[type="checkbox"] {
		margin-left: 10px;
	}

	[type="text"] {
		border: 1px solid $silver;
	}
}

	.filter-mobile-submit {
		background: $filter-submit;
		border: 0;
		border-radius: 3px;
		color: $white;
		display: block;
		font-size: 1.2em;
		font-weight: bold;
		letter-spacing: 2px;
		margin: 20px 10px 10px;
		padding: 20px 10px;
		width: calc(100% - 20px);

		&:hover {
			background: $filter-submit-active;
			cursor: pointer;
		}
	}

	.filter-mobile-select-button {
		background: $white;
		border: 2px solid $silver;
		border-radius: 5px;
		color: $grey;
		display: inline-block;
		margin-right: 5px;
		padding: 3px 5px;

		&:hover {
			cursor: pointer;
	  	}
	}

	.on {
		background: $regent-st-blue;
		color: $black;
	}

// ===========================================================
// ==== Content containers

.content-container {
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;

	@include over-900 {
		width: 900px;
	}

	@include over-1200 {
		width: 1200px;
	}
}

.login-register-container {
	border: 1px solid $alto;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba($black, .04);
	margin: 20px auto;
	padding: 30px;

	@include over-600 {
		width: 600px;
	}

	h1 {
		margin-top: 0;
	}
}

// ===========================================================
// ==== Destinations list on index page

.destinations-list-container {
	font-size: 0;
	margin: 0 auto;
	padding: 0 10px;

	@include over-900 {
		width: 900px;
	}

	@include over-1200 {
		width: 1200px;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}

	.destination-container {
		border-radius: 3px;
		box-shadow: 0 0 5px $silver;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		list-style: none;
		position: relative;
		vertical-align: top;
		width: 100%;
		margin-bottom: 10px;

		@include over-600 {
			width: 49%;

			&:nth-child(2n-1) {
				margin: 0 2% 2% 0;
			}
		}

		@include over-1200 {
			width: calc(98% / 3);

			&:nth-child(2n-1) {
				margin: 0 0 1%;
			}

			&:nth-child(3n-1) {
				margin: 0 1%;
			}
		}

		&:hover {
			background: rgba($black, .15);
		}

		a {
			//color: $white;
			text-decoration: none;
		}

		li {
			font-size: 1rem;
			line-height: 1.8em;

			@include under-450-only {
				font-size: .9rem;
			}
		}

		.edit-remove {
			bottom: 0;
			color: $black;
			display: block;
			position: absolute;
			right: 0;
			z-index: 3;
		}
	}

		// .destination-bg {
		// 	background-position: center;
		// 	background-size: cover;
		// 	border-radius: 3px 3px 0 0;
		// 	height: 250px; // Samma som .destination-top
		// 	position: absolute;
		// 	width: 100%;
		// 	z-index: -1;
		// }

		.destination-bg-img {
			border-radius: 3px 3px 0 0;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}

		.destination-top {
			color: $white;
			height: 250px;
			text-shadow: 1px 1px 0 rgba($black, .35), 1px 1px 5px rgba($black, .5);

			&:hover {
			}
		}

			.destination-top__discipline-icons {
				height: 50px;
				padding-top: 35px;
				text-align: center;
			}

				.discipline-icons {
					display: inline-block;
					opacity: 1;
				}

				.discipline-icons__main {
					width: 30px;
				}

				.discipline-icons__secondary {
					width: 18px;
				}

			.destination-top__title-country {
				padding: 5px 0 10px;
				text-shadow: 0 0 10px rgba($black, 1);

				h2 {
					margin: 0 10%;
					text-align: center;

					.destination-country {
						font-size: .7em;
					}
				}
			}

			// ROUTES CHART

			.destination-top__routes-chart {
				margin: 0 auto;
				padding: 0 20%;

				.column {
					position:relative;
					background: rgba($black, 0);
					display: inline-block;
					font-size: .5em;
					height: 60px;
					text-align: center;
					width: calc((100% - 13px) / 4);
				}

				.col-grade-easy,
				.col-grade-intermediate,
				.col-grade-hard,
				.col-grade-very-hard {
					position:absolute;
					background: $silver;
					box-shadow: 0 0 8px rgba($black, .2);
					color: $black;
					display: block;
					font-size: .8em;
					opacity: .95;
					text-align: center;
					text-shadow: none;
					width: 100%;
					bottom: 0;
				}

				.col-grade-easy {
					background: #a4c653;
				}

				.col-grade-intermediate {
					background: #d8b05f;
				}

				.col-grade-hard {
					background: #c65366;
				}

				.col-grade-very-hard {
					background: #3d3033;
				}

			}

		.destination-display-on-hover {
			color: $white;
			font-family: 'proxima_nova_altbold';
			height: 250px;
			position: absolute;
			text-shadow: 1px 1px 0 rgba($black, .35), 1px 1px 5px rgba($black, .5);
			top: 0;
			width: 100%;

			span {
				display: block;
				text-align: center;
			}

			.total-all {
				font-size: 1.2rem;
				padding-top: 20px;
			}
		}

		.destination-bottom {
			background: $desert-storm;
			color: $tundora;
			line-height: 1.7em;
			padding: 10px;
		}

			.property-title {
				font-family: 'proxima_nova_altbold';
			}

			.property-value { // Ta bort?
			
			}

			.property-value--discipline { // Ta bort?
				background: rgba($cornflower-blue, .5);
				border-radius: 3px;
				padding: 2px 5px;
				text-transform: capitalize;
			}

			.property-value--month { // Ta bort?
				background: rgba($thatch, .5);
				border-radius: 3px;
				padding: 2px 5px;
			}

			.property-value--cost { // Ta bort?
				background: rgba($fruit-salad, .5);
				border-radius: 3px;
				padding: 2px 5px;
			}

			.property-value--accomodation { // Ta bort?
				background: rgba($kelp, .5);
				border-radius: 3px;
				padding: 2px 5px;
			}

			.property-value--car { // Ta bort?
				background: rgba($web-orange, .4);
				border-radius: 3px;
				padding: 2px 5px;
			}

			.property-value--approach { // Ta bort?
				background: rgba($international-orange, .4);
				border-radius: 3px;
				padding: 3px 5px;
			}


// ===========================================================
// ==== Dashboard pages

.dashboard-menu-desktop {
	float: left;
	width: 25%;
}




// ===========================================================
// ==== ADD DESTINATION PAGE / FORM

.add-destination-container {
	background: $desert-storm;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba($black, .1);
	margin: 20px auto;
	padding: 20px 50px;
	
	@include over-900 {
		width: 800px;
	}

	input[type=text], input[type=file] {
		padding: 6px 10px;
		width: 250px;
	}

	input[type=checkbox] {
		margin-right: 5px;
	}

	select {
		padding: 6px 10px;
		width: 200px;
	}

	img {
		display: block;
	}

	h1 {
		text-align: center;
	}

	h2 {
		font-size: 1.6rem;
		margin-top: 60px;
	}

	h3 {
		font-size: 1.3rem;
		margin-bottom: 5px;
		margin-top: 40px;
	}

	h4 {
		color: tundora;
		margin-bottom: 10px;
	}

	p {
		color: $dusty-grey;
		font-style: italic;
		font-size: 0.8em;
	}

	span.help-info {
		font-style: italic;
	}

	ul {
		list-style: none;
		margin-left: 0;
		margin-top: 0;
		padding-left: 0px;
	}

	li {
		padding-bottom: 2px;
	}

	span.cost-field-currency {
		color: $silver;
	}

	#title {
	}

	#country {
		background: $white;
		color: $emperor;
		display: block;
	}

	#featured_photo, #additional_photos {
		background: $white;
		border: 1px solid $silver;
	}

	#description, .note-editable {
		p {
			color: $emperor;
			font-style: normal;
			font-size: 1em;
		}
	}

	#discipline_buttons_wrap {
		margin: 0 0px 10px;
	}

	.main-discipline-btn {
		background: $white;
		border: 2px solid $silver;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		margin-right: 5px;
		padding: 3px 5px;
	}

	.on {
		background: $red-violet;
		border-color: maroon-flush;
		color: $white;
	}

	ul.list-discipline {
	}

	input::placeholder {
		color: $silver;
	}

	.route-label {
		color: $emperor;
		display: inline-block;
		width: 30px;
	}

	ul.routes-list [type="text"] {
		width: 50px;
	}

	ul.routes-list li {
		margin-bottom: 4px;
	}

	select#currency {
		margin-left: 0;
		margin-bottom: 0;
	}

	span.per-week {
		font-style: italic;
		color: #999;
	}

	input#weekly_avg, .add-destination-container input#tent_cost, .add-destination-container input#hostel_cost, .add-destination-container input#apartment_cost, .add-destination-container input#hotel_cost {
		margin-left: 20px;
		margin-bottom: 15px;
		width: 80px;
	}

	input#weekly_avg {
		margin-left: 40px;
		margin-bottom: 0;
	}

	.easy-routes {
		color: $forest-green;
	}

	.intermediate-routes {
		color: $web-orange;
	}

	.hard-routes {
		color: $shiraz;
	}

	.very-hard-routes {
		color: $black;
	}

	input.integer {
		width: 100px;
		direction: RTL;
	}

	input#submit {
		padding: 20px 60px;
		margin: 0 auto 40px;
		display: block;
		border-radius: 5px;
		background: $red-violet;
		color: #fff;
		border:none;
		font-size: 1.4rem;
		
		&:hover {
			cursor:pointer;
			background: $maroon-flush;
		}
	}
}

// ===========================================================
// ==== SINGLE PAGE

.single-page-wrapper {
	margin: 20px auto;
	padding: 0 10px;

	h2 {
		font-size: 2rem;
		margin-top: 40px;
		text-align: center;
	}

	@include over-900 {
		width: 880px;
	}

	@include over-1200 {
		width: 1180px;
	}

	.single-title {
		min-height: 300px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;

		.single-title-img-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}

		h1 {
			color: #fff;
			font-size: 4rem;
			margin: 0;
			text-align: center;
			text-shadow: 0 0 10px rgba($black, .5);
			padding: 80px 0 0;
		}

		h2 {
			color: #fff;
			margin: 0;
			text-align: center;
			text-shadow: 0 0 10px rgba($black, .5);
			padding-bottom: 20px;
		}

		.forecast-current-weather {
			display: block;
			font-size: 0.5rem;
			text-transform: uppercase;
			text-shadow: 1px 1px 0 rgba($black, .35), 1px 1px 5px rgba($black, .5);
			color: #93b8ec;
			text-align: center;
		}
	}

	.climbing-information {
		border-radius: 5px;
		padding: 10px 0 10px 0;
		background: rgb(250, 250, 250);
		margin-bottom: 10px;

		@include over-600 {
			width: 49%;
			float: left;
			min-height:350px;
		}

		@include over-900 {
			float: left;
			height: 350px;
			width: 49%;
		}
	
		@include over-1200 {
		}

		.routes-information_icons {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
		}

		.routes-diagram {

			h3 {
				color: $dusty-grey;
				text-align: center;
				margin-bottom: 0;

				a.link-info-grades {
					font-size: 0.6em;
					color: #d11a77;

					&:hover {
						color: #da3f8c;
					}
				}
			}

			.col-grade-easy,
			.col-grade-intermediate,
			.col-grade-hard,
			.col-grade-very-hard {
				box-shadow: none;
				opacity: 1;
			}
			.column-label {
				display: block;
				margin-top: -15px;
			}
			
		}

		table {
			border-radius: 3px;
			border: 1px solid $silver;
			margin: 0 auto;
			padding: 10px;
			width: 70%;

			@include over-600 {
			}
	
			@include over-900 {
			}
		
			@include over-1200 {
			}

			td.table-total-routes {
				font-weight: bold;
				font-size: 1.1em;
			}
			
			td.table-smaller {
				font-size: 0.9em;
			}
		}
		
	}

	.area-information {
		border-radius: 5px;
		padding: 10px 0 10px 0;
		background: rgb(250, 250, 250);

		@include over-600 {
			float: right;
			width: 49%;
			min-height:350px;
		}

		@include over-900 {
			float: right;
			height: 350px;
			width: 49%;
		}
	
		@include over-1200 {
		}

		.area-information-content {
			padding: 0 20px;

			h3 {
				font-size: 1em;
				margin-bottom: 3px;
			}

			span {
				font-size: 1em;
			}
		}
	}

	.single-about {
		width: 100%;
		margin: 0 auto;

		@include over-600 {
		}

		@include over-900 {
			width: 80%;
		}
	
		@include over-1200 {
			width: 60%;
		}
	}

	.single-weather {
		width: 100%;
		margin: 0 auto;
		font-size: 0.7em;

		@include over-600 {
			font-size: 0.85em;
		}

		@include over-900 {
			width: 80%;
			font-size: 1em;
		}
	
		@include over-1200 {
			width: 70%;
		}

		table { 
			border-collapse: collapse; 
			width: 100%;

			th {
				text-align: left;
			}
			tr {
				border-bottom: 1px solid $seashell;
			}
		}

		tr.table-forecast-top-legends {
			border-bottom: 1px solid $silver;
			color: $dusty-grey;
			font-size: 0.7em;
		}

		td.forecast-date {
			width: 8%;
		}
		td.forecast-icon {
			width: 14%;
			text-align: center;
		}
		td.forecast-high-temp {
			width: 12%;
		}
		td.forecast-low-temp {
			width: 12%;
		}
		td.forecast-wind {
			width: 12%;
		}
		td.forecast-summary {
			width: 40%;
		}
	}

	.single-cost {
		width: 100%;
		margin: 0 auto;

		@include over-600 {
		}

		@include over-900 {
			width: 90%;
		}
	
		@include over-1200 {
		}

		p {
			text-align: center;
			border-radius: 3px;
			padding:10px;
			border: 1px solid $desert-storm;
			margin: 1%;
			font-weight: bold;

			@include over-600 {
				width: 60%;
				margin: 0 auto 10px;
			}
	
			@include over-900 {
				width: 80%;
			}
		
			@include over-1200 {
			}

			span {
				display: block;
				font-size: 0.7em;
				font-style: italic;
				color: $dusty-grey;
				margin-top: 6px;
			}
		}

		.cost-table-wrap {
			border-radius: 5px;
			border: 1px solid $desert-storm;
			padding: 8px;
			margin-bottom: 10px;

			@include over-600 {
				width: 60%;
				margin: 0 auto 10px;
			}
	
			@include over-900 {
				float: left;
				width: 28%;
				margin: 0 1% 10px;
			}
		
			@include over-1200 {
			}
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			
			thead {
				text-align: center;

				th.cost-table-currency {
					font-size: 0.7em;
					color: $dusty-grey;
				}
			}

			td, th {
				border-bottom: 1px solid $desert-storm;
			}
			
			td.table-right {
				background: $desert-storm;
				text-align: center;
			}
		}
	}

	.single-photos {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		
		@include over-600 {
		}

		@include over-900 {
			width: 60%;
		}
	
		@include over-1200 {
		}
	}

	.single-map {
		height: 400px;
		width: 100%;
		margin: 0 auto;

		@include over-600 {
		}

		@include over-900 {
			width: 50%;
		}
	
		@include over-1200 {
		}

		#map {
			height: calc(100% - 50px);
			width: 100%;
		}
	}
	
}

