{% extends "base.html" %}

{% block content %}
<script>
    var addDestinationFormFuctionality = {

        onReady: function () {

            $('select#country option').first().attr('disabled', true)

            // $('.js-accomodation-cost-item-in-add-destination-form').hide()
            // $('.js-accomodation-list-item-in-add-destination-form input:checkbox').click(function () {
            //     var accomodationName = $(this).attr('name')
            //     var costAccomodationName = accomodationName + '-cost'
            //     if ($(this).is(':checked')) {
            //         $('[name="' + costAccomodationName + '"]').show()
            //     } else {
            //         $('[name="' + costAccomodationName + '"]').hide()
            //     }
            // })
        
        }

    }

    $(document).ready(addDestinationFormFuctionality.onReady)
</script>

<div class="add-destination-container">
    <h1>Add Destination</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <h3>{{ form.title.label }} </h3>
        {{ form.title(size=64) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        <h3>{{ form.country.label }} </h3>
        {{ form.country() }}<br>
        {% for error in form.country.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <h3>{{ form.weather_place_autocomplete.label }}</h3>
        <p>Select place from the list that pops up when you write</p>
        {{ form.weather_place_autocomplete }} <br>

        <h3>{{ form.featured_photo.label }} </h3>
        <p>Må legge til en compressor/resizer</p>
        {{ form.featured_photo }} <br>
        {% for error in form.featured_photo.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <h3>{{ form.additional_photos.label }} </h3>
        <p>Må legge til en compressor/resizerasd</p>
        {{ form.additional_photos }} <br>
        {% for error in form.additional_photos.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <h2>Written information</h2>

        <h3>{{ form.description.label }}</h3>
        {{ form.description }}

        <h2>Searchable information and data</h2>

        <h3>Discipline</h3>

        <h4>{{ form.main_discipline.label }} </h4>
        <div id="discipline_buttons_wrap">{{ form.main_discipline }}</div>

        <h4>Also has these</h4>
        <ul>
            <li>{{ form.traditional }} {{ form.traditional.label }}</li>
            <li>{{ form.sport }} {{ form.sport.label }}</li>
            <li>{{ form.bouldering }} {{ form.bouldering.label }}</li>
        </ul>
        </ul>
        {% for error in form.main_discipline.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        <h3>Months in season</h3>
        <ul>
            <li>{{ form.january }} {{ form.january.label }}</li>
            <li>{{ form.february }} {{ form.february.label }}</li>
            <li>{{ form.mars }} {{ form.mars.label }}</li>
            <li>{{ form.april }} {{ form.april.label }}</li>
            <li>{{ form.may }} {{ form.may.label }}</li>
            <li>{{ form.june }} {{ form.june.label }}</li>
            <li>{{ form.july }} {{ form.july.label }}</li>
            <li>{{ form.august }} {{ form.august.label }}</li>
            <li>{{ form.september }} {{ form.september.label }}</li>
            <li>{{ form.october }} {{ form.october.label }}</li>
            <li>{{ form.november }} {{ form.november.label }}</li>
            <li>{{ form.december }} {{ form.december.label }}</li>
        </ul>

        <h3>Accomodations available</h3>
        <ul>
            <li class="js-accomodation-list-item-in-add-destination-form">{{ form.tent }} {{ form.tent.label }}</li>
            <li class="js-accomodation-list-item-in-add-destination-form">{{ form.van }} {{ form.van.label }}</li>
            <li class="js-accomodation-list-item-in-add-destination-form">{{ form.hostel }} {{ form.hostel.label }}</li>
            <li class="js-accomodation-list-item-in-add-destination-form">{{ form.camping }} {{ form.camping.label }}
            </li>
            <li class="js-accomodation-list-item-in-add-destination-form">{{ form.apartment }}
                {{ form.apartment.label }}</li>
            <li class="js-accomodation-list-item-in-add-destination-form">{{ form.house }} {{ form.house.label }}</li>
            <li class="js-accomodation-list-item-in-add-destination-form">{{ form.hotel }} {{ form.hotel.label }}</li>
        </ul>

        <h3>Approach:</h3>
        <ul>
            <li>{{ form.easy }} {{ form.easy.label }}</li>
            <li> {{ form.moderate }} {{ form.moderate.label }}</li>
            <li>{{ form.hardcore }} {{ form.hardcore.label }}</li>
        </ul>

        <h3>Car</h3>
        <ul>
            <li>{{ form.not_needed }} {{ form.not_needed.label }}</li>
            <li>{{ form.good_to_have }} {{ form.good_to_have.label }}</li>
            <li>{{ form.must_have }} {{ form.must_have.label }}</li>
        </ul>

        <h2>Cost</h2>
        <p><strong>Hvor jeg er: Har akkurat lagt til alle fields i forms.py. Skal nå legge de til i selve formen nedenfor. Etter det må jeg gjøre en kalkulasjon i routes.py og legge inn altsammen i databasen. Etter det må jeg tenke litt på currencies.</strong></p>
        <p><span class="help-info">If you don't know the below prices at your destination, please go to <a
                href="http://www.numbeo.com">Numbeo.com</a> and search for the nearest city, then use that data to fill
            out the prices.</span></p>

        <p><span class="help-info">CURRENCIES?? - Default currency: EUR - Men ha et valg å velge currency etter hvert felt?</span></p>

        <h3>Food and drinks</h3>
        <p>See <a href="https://www.numbeo.com/cost-of-living/">Cost of Living index (Numbeo)</a> for beer, coffee and
            restaurant prices.</p>
        <p>See <a href="https://www.numbeo.com/food-prices/">Food prices index (Numbeo)</a> for the price of one days
            worth of groceries.</p>
        
        <ul>
            <li>
                {{ form.cost_form_currency.label }}
                {{ form.cost_form_currency }}
            </li>
            <li>
                {{ form.beer_at_establishment.label }}
                {{ form.beer_at_establishment }}
            </li>
            <li>
                {{ form.coffee_at_establishment.label }}
                {{ form.coffee_at_establishment }}
            </li>
            <li>
                {{ form.restaurant_inexpensive_meal.label }}
                {{ form.restaurant_inexpensive_meal }}
            </li>
            <li>
                {{ form.groceries_one_week.label }}
                {{ form.groceries_one_week }}
            </li>
        </ul>

        <h3>Car</h3>
        <p>See <a href="https://www.rentalcars.com/">Rental Cars</a>, <a
                href="https://www.avis.com/en/locations/avisworldwide">Avis</a>, <a
                href="https://www.hertz.no/rentacar/location">Hertz</a> or <a
                href="https://www.sixt.com/car-rental/">SiXT</a> for one week rental prices.</p>
        <p>See <a href="https://www.numbeo.com/gas-prices/">Gas prices index (Numbeo)</a> for gas prices and use <a href="http://maps.google.com">Google Maps</a> for
            kilometer estimation.</p>
        <p>Leave the fields empty if no car is needed.</p>
        <ul>
            <li>
                {{ form.car_rent_one_week.label }}
                {{ form.car_rent_one_week }}
            </li>
            <li>
                {{ form.gas_one_liter.label }}
                {{ form.gas_one_liter }}
            </li>
            <li>
                {{ form.km_per_day.label }}
                {{ form.km_per_day }}
            </li>
        </ul>

        <h3>Accomodation</h3>
        <ul>
            <li class="js-accomodation-cost-item-in-add-destination-form" name="tent-cost">
                {{ form.tent_per_day.label }}
                {{ form.tent_per_day }}
            </li>
            <li class="js-accomodation-cost-item-in-add-destination-form" name="van-cost">
                {{ form.van_per_day.label }}
                {{ form.van_per_day }}
            </li>
            <li class="js-accomodation-cost-item-in-add-destination-form" name="camping-cost">
                {{ form.camping_per_day.label }}
                {{ form.camping_per_day }}
            </li>
            <li class="js-accomodation-cost-item-in-add-destination-form" name="hostel-cost">
                {{ form.hostel_per_day.label }}
                {{ form.hostel_per_day }}
            </li>
            <li class="js-accomodation-cost-item-in-add-destination-form" name="apartment-cost">
                {{ form.apartment_per_day.label }}
                {{ form.apartment_per_day }}
            </li>
            <li class="js-accomodation-cost-item-in-add-destination-form" name="house-cost">
                {{ form.house_per_day.label }}
                {{ form.house_per_day }}
            </li>
            <li class="js-accomodation-cost-item-in-add-destination-form" name="hotel-cost">
                {{ form.hotel_per_day.label }}
                {{ form.hotel_per_day }}
            </li>
        </ul>

        <h2>Routes</h2>
        <ul>
           <li>
               {{ form.total_routes.label }}
               {{ form.total_routes }}
            </li>
           <li>
               {{ form.total_sport.label }}
               {{ form.total_sport }}
            </li> 
           <li>
               {{ form.total_trad.label }}
               {{ form.total_trad }}
            </li> 
           <li>
               {{ form.total_boulders.label }}
               {{ form.total_boulders }}
            </li> 
            <li>
                <br>
                <p>
                    <i>The following four fields are used to create the staple diagram for this destination. 
                    If you don't know the number of routes, just put in percentage numbers (but without '%'),
                    e.g. easy: 0.25, intermediate: 0.45, hard: 0.2, very hard: 0.1.</i><br>
                    <img width="500px" src="{{ url_for('static', filename='images/grades_categorization.png') }}" alt="">
                </p>
            </li>
           <li>
               {{ form.easy_routes.label }}
               {{ form.easy_routes }}
            </li> 
           <li>
               {{ form.intermediate_routes.label }}
               {{ form.intermediate_routes }}
            </li> 
           <li>
               {{ form.hard_routes.label }}
               {{ form.hard_routes }}
            </li> 
           <li>
               {{ form.very_hard_routes.label }}
               {{ form.very_hard_routes }}
            </li> 
        </ul>

        {{ form.submit() }}
    </form>
</div>

<script>

    var autocomplete, place;

    var options = {
        types: ['geocode']
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('weather_place_autocomplete'), options);

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['geometry']);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInLatitudeLongitude);

        // Add a DOM event listener to react when the user selects a country.
        document.getElementById('country').addEventListener(
            'change', setAutocompleteCountry);
    }

    // Set the country restriction based on user input.
    // Also center and zoom the map on the given country.
    function setAutocompleteCountry() {
        var country = document.getElementById('country').value;
        if (country === 'all') {
            autocomplete.setComponentRestrictions({ 'country': [] });
        } else {
            autocomplete.setComponentRestrictions({ 'country': country });
        }
    }

    function fillInLatitudeLongitude() {
        // Get the place details from the autocomplete object.
        place = autocomplete.getPlace();

        document.getElementById('weather_ltd').value = place.geometry.location.lat();
        document.getElementById('weather_lng').value = place.geometry.location.lng();

        console.log(document.getElementById('weather_ltd').value)
        console.log(document.getElementById('weather_lng').value)

    }

</script>
<script>
    $('#description').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear', 'H1']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['picture'],
            ['link'],
            ['table']
        ],
        placeholder: 'Describe the area, it\'s history, access, accomodation, topos/books, things that are good to know, etc.'
    });
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8XiZomiVMq2KmbTlj6OPu6tILBrkTYoQ&libraries=places&callback=initAutocomplete"
    async defer></script>

{% endblock %}