<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	{% if title %}
	<title>{{ title }} - Climbing Destinations</title>
	{% else %}
	<title>Climbing Destinations</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js / vendors / jquery331.min.js') }}">\x3C/script>')</script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script> 
	
	<!-- Summernote WYSIWYG-->
	<!-- include libraries(jQuery, bootstrap) -->

	<!-- include summernote css/js -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>
	<!-- ... -->


	<script src="{{ url_for('static', filename='app-min.js') }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/normalize-css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="top-bar">
		<div class="logo">
			<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/climb_dest_6.svg') }}"
					alt="Climbit"></a>
		</div>
		<div class="search">
			<input type="text" placeholder="Search for your destination">
		</div>
		<nav class="menu js-menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('add_destination') }}">Add Destination</a></li>
				{% if current_user.is_anonymous %}
				<li>
					<a href="{{ url_for('login') }}">Login</a>
				<li><a href="{{ url_for('register') }}">Register</a></li>
				</li>
				{% else %}
				<li class="menu-dashboard-drop-btn hide-under-600">
					<a href="#">{{ current_user.username }} &#9662; </a>
					<div class="dropdown-content dropdown-content-menu">
						<ul>
							<li><a href="{{ url_for('user', username=current_user.username) }}">View Profile</a></li>
							<li><a href="{{ url_for('dashboard', page='favorites') }}">Favorites</a></li>
							<li><a href="{{ url_for('dashboard', page='searches') }}">Searches</a></li>
							<li><a href="{{ url_for('dashboard', page='destinations') }}">Destinations</a></li>
							<li><a href="{{ url_for('dashboard', page='settings') }}">Settings</a></li>
							<li><a href="{{ url_for('logout') }}">Logout</a></li>
						</ul>
					</div>
				</li>
				<li class="hide-over-600"><a href="{{ url_for('user', username=current_user.username) }}">View Profile</a></li>
				<li class="hide-over-600"><a href="{{ url_for('dashboard', page='favorites') }}">Manage Favorites</a></li>
				<li class="hide-over-600"><a href="{{ url_for('dashboard', page='searches') }}">Saved Searches</a></li>
				<li class="hide-over-600"><a href="{{ url_for('dashboard', page='destinations') }}">Your Destinations</a></li>
				<li class="hide-over-600"><a href="{{ url_for('dashboard', page='settings') }}">Settings</a></li>
				<li class="hide-over-600"><a href="{{ url_for('logout') }}">Logout</a></li>
				{% endif %}
			</ul>
		</nav>
		<a href="#" class="menu-mobile-button button button-menu js-menu-mobile-button">Menu</a>
		<!-- må koble denne til js -->
	</div>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	<p style="text-align: center; font-style: italic;">First, ten</p>


	{% block content %}{% endblock %}

	<hr>
	<section class="fixe">
		<h4>Goal: Be the website that helps people <strong>decide where to go</strong></h4>

		<h3>Fixe:</h3>
		<ol>
			<li><b>Status: Håller på med HTML/CSS for ny design av destination list</b></li>
			<li><i>Nästa: Fikse ny design med CSS/html</i></li>
			<li> </li>
			<li>maintainable code</li>
			<li>blueprints</li>
			<li>organic slugs</li>
			<li>Edit destination page: add routes etc.</li>
			<li>Add/Edit Destination: CSS</li>
			<li>Index CSS/HTML</li>
			<li>MOBIL/Media queries</li>
			<li>Single Destination page HTML/CSS</li>
			<li>Sök funksjon</li>
			<li>Google analytics, feedback system (olark + suggest feature?)</li>
			<li>UPLOAD BETA 0.1 AND GET FEEDBACK!</li>
			<li></li>
			<li>Convert image on upload: lågare resolution</li>
			<li>"Suggest a new destination" og "Suggest a new feature" funksjon</li>
		</ol>
		<h3>Steg</h3>
		<ol>
			<li>Info site, no users, just adding destinations myself</li>
			<li>Good design and great info</li>
			<li>Add review system - no login required, make it easy - possible for long form review with pictures</li>
			<li>Add user features -> find partner, suggest destination, suggest info displayed, contribute pictures, follow
				destinations</li>
		</ol>
		<h3>v.2/3</h3>
		<ul>
			<li>Chat & forum</li>
		</ul>
	</section>
</body>

</html>