{% extends "base.html" %}

{% block content %}
    <h1>Edit Destination</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.country.label }}<br>
            {{ form.country(size=64) }}<br>
            {% for error in form.country.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.discipline.label }}<br>
            {{ form.discipline }}<br>
            {% for error in form.discipline.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% if destination.image_url %}
        <p>
        <img src="{{ destination.image_url }}" alt="{{ destination.image_filename }}" style="width:600px;height:450px;">
        </p>
        {% endif %}
        <p>
            {{ form.image.label }}<br>
            {{ form.image }}<br>
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
       
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}